@charset "utf-8";

@import "../parts/common";

/* 공통 스타일 영역 */
.sec.common-01 {
    .row-txt {
        padding: 15px 0;
        h2 {
            text-align: center;
            line-height: 1.8;
            font-size: 15px;
            font-weight: 700;
            letter-spacing: -1.5px;
        }
        > p {
            text-align: center;
            font-size: 12px;
            line-height: 1.5;
        }
    }
}
/* 오시는 길 영역 */
.sec.location {
    .map-box {
        padding-bottom: 30px;
        overflow: hidden;
        .map-desc {
            dl {
                margin-top: 10px;
                padding:0 10px;
                font-size: 0;
                line-height: 1.4;
                dt, dd {
                    word-break: keep-all;
                }
                dt {
                    // width: 160px;
                    font-size: 13px;
                    font-weight: 700;
                }
                dd {
                    font-size: 12px;
                    .p-1 {

                    }
                    .p-2 {
                        padding-left: 10px;
                    }
                    .map-park {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

}
/* FAQ 영역 */
.sec.faq {
    .faq-box {
        padding-bottom: 35px;
        dl {
            margin-top: 10px;
            padding:0 10px;
            line-height: 1.4;
            font-size: 0;
            dt, dd {
                word-break: keep-all;
                > span {
                    @include dp;
                    vertical-align: top;
                }
                $w: 20px;
                $m: 8px;
                .q, .a {
                    @include sizes($w);
                    margin-right: $m;
                    top: -2px;
                    border-radius: 50%;
                    line-height: 20px;
                    text-align: center;
                    font-size: 12px;
                    color: #fff;
                }
                .q {
                    background: #000;
                }
                .a {
                    background: #a0a0a0;
                }
                .txt {
                    width: calc( 100% - (#{$w} + #{$m} + 5px) );
                }
            }
            dt {
                .txt {font-size: 12.5px;}
            }
            dd {
                margin-top: 5px;
                line-height: 1.5;
                .txt {font-size: 12px;}
            }
        }
    }
}