@@include('../include/_head.html', {
	"page": "surfing"
})

<body class="page-surfing">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents surfing">
		<section class="sec visual">
			<h1 class="skip">미드나잇 피크닉 페스티벌 2019</h1>
			<div class="slider-container">
				<ul class="slider">
					<li class="slide"></li>
				</ul>
			</div>
		</section>
		<!--/.visual-->
		<section class="sec common-01 intro-1">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - 서핑 클래스</span><br>
					<span class="s-2">SURFING &amp; SUP CLASS</span>
				</h1>
			</div>
			<div class="row-txt" id="setTop">
				<h2>국내 최고의 서핑 인스트럭터의 친절한 강습, 초보자도 이해가 쏙쏙</h2>
				<p class="p-1">미픽에서 만나는 서핑클래스의 세계를 체험해보세요.</p>
			</div>
			<div class="photo-box">
				<ul class="group list">
					<!-- (li>img[src="http://img.mipic-festival.co.kr/main/img_0$.jpg" alt="MiPic사진"])*6 -->
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_01.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_02.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_03.jpg" alt="MiPic사진"></li>
				</ul>
			</div>
		</section>
		<!-- /.intro-1 -->
		<section class="sec common-01 intro-2">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - SUP 클래스</span><br>
					<span class="s-2">SURFING &amp; SUP CLASS</span>
				</h1>
			</div>
			<div class="row-txt">
				<h2>파도가 없어도 바다를 즐기는 새로운 방법 SUP</h2>
				<p class="p-1">누구나 쉽게 배우고 바다 위에서도 손쉽게 서서 즐깁니다.</p>
			</div>
			<div class="photo-box">
				<ul class="group list">
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_04.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_05.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_06.jpg" alt="MiPic사진"></li>
				</ul>
			</div>
		</section>
		<!-- /.intro-2 -->
		<section class="sec common-01 intro-3">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - 플레이 / 아트 / 먹거리</span><br>
					<span class="s-2">PLAY / ART / EAT</span>
				</h1>
			</div>
			<div class="row-txt">
				<h2>미픽에서 준비된 다양한 해변놀이를 마음껏 즐기세요.</h2>
				<p class="p-1">음악, DJING부터 요가, 스트레칭, 다양한 먹거리가 준비되어 있습니다.</p>
			</div>
			<div class="photo-box">
				<ul class="group list">
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_07.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_08.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_09.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/surfing/img_10.jpg" alt="MiPic사진"></li>
				</ul>
			</div>
		</section>
		<!-- /.intro-3 -->
	</div>

	@@include('../include/_footer.html') 
</div>

</body>
</html>