@@include('../include/_head.html', {
	"page": "about"
})

<body class="page-about">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents about">
		<section class="sec visual">
			<h1 class="skip">미드나잇 피크닉 페스티벌 2019</h1>
			<div class="slider-container">
				<ul class="slider">
					<li class="slide"></li>
				</ul>
			</div>
		</section>
		<!--/.visual-->
		<section class="sec common-01 intro-1" id="day-01">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - 뮤직 페스티벌</span><br>
					<span class="s-2">2019. 07. 13 (토요일)  PM 18:00</span>
				</h1>
			</div>
			<div class="row-txt" id="setTop">
				<h2>한 여름 밤,  뜨거운 열정을 불태울 HIP HOP, K-POP</h2>
				<p class="p-1">
					국내 최정상의 라인업으로 친구들과 함께 잊지 못할<br>
					한여름밤을 불태워보세요. (라인업 업데이트 예정)
				</p>
			</div>
			<div class="photo-box">
				<ul class="group list">
					<!-- (li>img[src="http://img.mipic-festival.co.kr/main/img_0$.jpg" alt="MiPic사진"])*6 -->
					<li><img src="http://img.mipic-festival.co.kr/about/img_01.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/about/img_02.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/about/img_03.jpg" alt="MiPic사진"></li>
				</ul>
			</div>
		</section>
		<!-- /.intro-1 -->
		<section class="sec common-01 intro-2" id="day-02">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - 뮤직 페스티벌</span><br>
					<span class="s-2">2019. 07. 12 (금요일)  PM 18:00</span>
				</h1>
			</div>
			<div class="row-txt">
				<h2>국내 최고의 DJ가 만들어 내는 해변 클럽 파티</h2>
				<p class="p-1">
					흥을 업시켜주는 워터샷, 물에 흠뻑 젖고<br>
					오늘의 흥을 책임져 줄 DJING, 해변에서 즐기는 EDM
				</p>
			</div>
			<div class="photo-box">
				<ul class="group list">
					<li><img src="http://img.mipic-festival.co.kr/about/img_04.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/about/img_05.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/about/img_06.jpg" alt="MiPic사진"></li>
				</ul>
			</div>
		</section>
		<!-- /.intro-2 -->
	</div>

	@@include('../include/_footer.html') 
</div>

</body>
</html>