<div class="footer">
	<div class="group inner">
		<div class="split split-1">
			<img src="http://img.mipic-festival.co.kr/common/logo_f.png" alt="미드나잇페스티벌" class="logo-f">
		
			<div class="addr-box">
				<strong class="tit fz-18 fw-b">
					미드나잇 피크닉 페스티벌 2019<br>
					MIDNIGHT PICNIC FESTIVAL 2019
				</strong>
				<address class="fz-14">
					<p class="p-1">
						주최  :  (주)위고온<br>
						대표이사 : 서인호   강원도 고성군 죽왕면 삼포민박촌2길 7, 1층<br>
						사업자번호 326-86-01486   여행업등록번호 제26001-2019-000001호<br>
						여행영업보증서 : 국내여행 100-000-201902056091<br>
					</p>
					<p class="p-2">
						(주)이비즈네트웍스<br>
						대표이사 : 박기범   서울 강남구 테헤란로82길 15, (대치동, 디아이타워)<br>
						대표번호 : 1666-1243   메일문의 : help@go.co.kr<br>
						사업자번호: 220-87-30865   통신판매업: 제 강남-11501호<br>
						여행업등록번호 : 제2015-44호   여행영업보증서 : 국내여행 제100-000-201804161009호<br>
					</p>
				</address>
			</div>
		</div>
		<div class="split split-2 ta-right">
			<div class="p-1 fz-20 fw-b">티켓예매 고객센터</div>
			<div class="p-2 fz-26 fw-b"><span class="ic-call">☎</span> 02) 2202-3435 / 3436</div>
			<div class="p-3 fz-16">주중, 주말 09~18시 (12~13시 제외)</div>
		</div>
	</div>
</div>
<!-- /.footer -->

<div class="bn-container rsv-mipic">
	<a href="../reservation/" id="rsv-mipic" class="bn-item rsv-mipic"><img src="http://img.mipic-festival.co.kr/common/banner/bn_rsv.gif" alt="할인예매이동"></a>
</div>