<header class="header">
	<div class="gnb">
		<div class="group inner">
			<h1 class="logo"><a href="../main/index.html"><img src="http://design.autopay.co.kr/joon/midnight/img/common/logo.png" alt="미드나잇페스티벌 로고"> <span class="skip">미드나잇페스티벌</span></a></h1>
			<nav class="g-nav">
				<ul class="menu cf">
					<li><a href="../about/#day-01">미픽 뮤직페스티벌</a></li>
					<li><a href="../about/#day-02">비치클럽파티</a></li>
					<li><a href="../surfing/">서핑&amp;플레이</a></li>
					<li><a href="../location/#faq">FAQ</a></li>
					<li><a href="../location/#location">오시는길</a></li>
					<li class="c-blue"><a href="../reservation/confirm.html">예매확인</a></li>
					<li class="c-blue"><a href="../reservation/">티켓예매</a></li>
				</ul>
			</nav>
		</div>
	</div>
</header>
<!-- /.header -->