@charset "utf-8";

@import "../parts/common";

/* 비주얼 영역 */
.sec.visual {
    .slider-container {
        position: relative;
        .slide > img {
            margin: 0 auto;
        }
        .row-btn {
            @include position(absolute, null, null, 120px);
            width: 100%;
        }
    }
    .row-black {
        padding: 50px 0;
        background: #000;
        text-align: center;
        font-size: 22px;
        color: #fff;
        strong {
            line-height: 1.5;
            font-size: 33px;
            margin-bottom: 5px;
        }
        .mipic {
            margin-top: 30px;
        }
    }
}
/* 소개 영역 */
.sec.intro {
    h1 {
        text-align: center;
        line-height: 1.8;
        font-size: 34px;
        font-weight: 700;
    }
    .row-txt {
        padding: 35px 0;
        > p {
            text-align: center;
        }
        .p-1 {
            font-size: 24px;
        }
        .p-2 {
            font-size: 26px;
        }
        
    }
    .mv-box {
        iframe {
            @include size(100%, 540px);
        }
    }
    .photo-box {
        overflow: hidden;
        .list {
            width: 970px;
            font-size: 0;
            margin-top: -12px;
            > li {
                display: inline-block;
                margin-top: 12px;
                width: 33.33%;
                box-sizing: border-box;
                padding: 0 6px;
                > img {
                    display: block;
                    width: 100%;
                }
            }
        }
        .row-btn {
            margin: 35px 0 70px;
        }
    }
}