@@include('../include/_head.html', {
	"page": "location"
})

<body class="page-location">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents location">
		<section class="sec visual">
			<h1 class="skip">미드나잇 피크닉 페스티벌 2019</h1>
			<div class="slider-container">
				<ul class="slider">
					<li class="slide"></li>
				</ul>
			</div>
		</section>
		<!--/.visual-->
		<section class="sec common-01 location" id="location">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - 오시는길</span><br>
					<span class="s-2">LOCATION</span>
				</h1>
			</div>
			<div class="row-txt" id="setTop">
				<h2>미픽2019 행사는 강원도 고성 삼포해수욕장에서</h2>
				<p class="p-1">네비게이션으로 '삼포해수욕장' 또는 '오션투유' 를 검색하세요.</p>
			</div>
			<div class="map-box">
				<div class="group map"><img src="http://img.mipic-festival.co.kr/location/map.jpg" alt="행사위치 지도"></div>
				<div class="group map-desc">
					<dl>
						<dt>주소</dt>
						<dd>강원도 고성군 죽왕면 삼포리 1 삼포해변</dd>
					</dl>
					<dl>
						<dt>자가 차량 이용시</dt>
						<dd>네비게이션에 '삼포해수욕장' 또는 '오션투유리조트' 를 검색하세요.</dd>
					</dl>
					<dl>
						<dt>대중 교통 이용시</dt>
						<dd>
							간성 시외버스 터미널 하차시 : 신안리 정류장에서 1번, 1-1번 버스 승차, 삼포리.오호초교앞 하차<br>
							속초 고속버스 터미널 하차시 : 터미널 정류장에서 1번, 1-1번 버스 승차, 삼포리.오호초교앞 하차<br>
							속초 시외버스 터미널 하차시 : 수복탑 정류장에서 1번, 1-1번 버스 승차, 삼포리.오호초교앞 하차
						</dd>
					</dl>
					<dl>
						<dt>셔틀버스</dt>
						<dd>버스 고객의 편의를 위해 셔틀버스를 운영하고 있으며 추후 공지해 드릴 예정입니다.</dd>
					</dl>
					<dl>
						<dt>주차장 이용안내</dt>
						<dd>
							아래와 같이 3개의 주차장이 운영됩니다.<br>
							<div class="map-park">
								<img src="http://img.mipic-festival.co.kr/location/map_park.jpg" alt="주차장 지도">
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</section>
		<!-- /.location -->
		<section class="sec common-01 faq" id="faq">
			<div class="row-day">
				<h1 class="group ta-left">
					<span class="s-1">미픽2019 - 자주 묻는 질문</span><br>
					<span class="s-2">FAQ</span>
				</h1>
			</div>
			<div class="row-txt">
				<h2>미드나잇 피크닉에 대한 궁금한 점?</h2>
				<p class="p-1">더 자세한 사항은 홈페이지, 온라인 판매 가이드를 참조해 주세요.</p>
			</div>
			<div class="faq-box">
				<div class="group inner">
					<dl>
						<dt><span class="q">Q</span><span class="txt">페스티벌 내 모든 프로그램은 무료로 참여가 가능한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								뮤직 페스티벌, 서핑 & SUP 강습 외 모든 프로그램은 무료로 참여하실 수 있습니다.<br>
								뮤직 페스티벌, 서핑 & SUP 강습 티켓은 별도로 구매가 가능하니, 사전에 온라인을 통해 티켓 예매하시거나 현장에서 구매가 가능합니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">연령 제한 없이 누구나 참여 가능한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								뮤직 페스티벌을 제외한 모든 프로그램은 연령 제한이 없습니다.<br>
								뮤직 페스티벌은 미성년자 (만 19세 이하)는 관람할 수 없습니다 
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">우천시에도 진행이 되나요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								우천시에도 행사는 진행됩니다.<br>
								단, 태풍 및 강풍경보 등의 기상상황에 따라 행사가 취소 될 수 있으며, 행사취소 시 안내는 행사 2일 전에 공지할 예정입니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">서핑, SUP강습 시간이 늦으면 참가가 불가한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								단체 강습으로 정해진 시간이 있어서 강습 시간 20분전까지는 꼭 오셔야 됩니다.<br>
								늦을 경우에는 참가가 불가하며, 환불도 되지 않으니 여유 있게 오시기 바랍니다.<br>
								준비물, 강습 구성 등 세부사항은 별도 안내를 꼭 확인하시기 바랍니다. 
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">프리서핑은 누구나 할 수 있나요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								프리서핑은 서핑을 할 수 있다면 누구나 무료로 하실 수 있습니다. 단, 안전과 매너는 필수겠죠.<br>
								진행요원의 판단에 안전에 심각한 문제가 있고 (음주, 심신 미약, 서핑 경험 전무 등)<br>
								공공의 반하는 행동을 하는 분들은 제재를 취할 수 있습니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">뮤직 페스티벌 관람하려면 어떻게 해야 되나요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								콘서트 참가에 대한 안내는 별도로 공지해 드릴예정입니다.<br>
								참가방법, 유의사항 등이 온라인 마켓 가이드에 안내되어 있으니 꼭 확인하시기 바랍니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">Picnic STAGE는 무료 인가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								피크닉 스테이지는 자유롭게 누구나 음악을 들을 수 있는 공간입니다.<br>
								별도의 의자가 준비되어 있지 않으니 돗자리를 준비하시면 좋겠죠 
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">행사기간내 셔틀버스가 운영되는지요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								수도권(잠실종합운동장,서울역), 강원권(강릉고속버스터미널)에서 셔틀버스가 운영될 예정입니다.<br>
								자세한 사항은 홈페이지를  통해 공지해 드릴 예정입니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">행사기간내 행사장 인근지역 순환버스가 운영되는지요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								간성터미널, 속초고속버스 터미널에서 행사장 까지 무료순환 버스가 운영될 예정입니다.<br>
								자세한 사항은 홈페이지를  통해 공지해 드릴 예정입니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">예매한 티켓은 어떻게 받을수 있나요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								모든 티켓은 현장에서 수령 됩니다.<br>
								본인 확인을 위하여 신분증을 꼭 지참하셔야 티켓을 수령 하실 수 있습니다.  
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">재입장은 가능한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								착용하고 계신 날짜에 한하여 입출입이 프리로 가능 합니다.<br>
								게이트 입장 시 진행요원에게 착용하신 팔찌를 보여주시면 입장 가능 합니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">MIDINGHT STAGE 음식물 반입은 가능한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">
								MIDNIGHT STAGE는 많은 쓰레기 발생 및 쓰레기로 인한 안전 사고 때문에 음식물 반입이 금지 됩니다.<br>
								이점 양해 부탁 드립니다.
							</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">애완동물과 동반 입장 가능한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">애완동물과의 동반입장은 불가능합니다.</span>
						</dd>
					</dl>
					<dl>
						<dt><span class="q">Q</span><span class="txt">야외 샤워부스에서 샤워용품 사용 가능한가요?</span></dt>
						<dd>
							<span class="a">A</span>
							<span class="txt">샤워용품(ex. 샴푸, 린스, 바디워시 등)을 이용한 샤워는 불가능합니다.</span>
						</dd>
					</dl>
				</div>
			</div>
		</section>
		<!-- /.faq -->
	</div>

	@@include('../include/_footer.html') 
</div>

</body>
</html>