@@include('../include/_head.html', {
	"page": "main"
})

	<!--페이지 전용 Css & Script-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<body class="page-main">

<div class="wrapper">
	@@include('../include/_header.html')

	<div class="contents main">
		<section class="sec visual">
			<h1 class="skip">미드나잇 피크닉 페스티벌 2019</h1>
			<div class="slider-container">
				<ul class="slider">
					<li class="slide"><img src="http://img.mipic-festival.co.kr/main/visual_01.jpg" alt="미드나잇피크닛 페스티벌"></li>
					<li class="slide"><img src="http://img.mipic-festival.co.kr/main/visual_02.jpg" alt="미드나잇피크닛 페스티벌"></li>
					<li class="slide"><img src="http://img.mipic-festival.co.kr/main/visual_03.jpg" alt="미드나잇피크닛 페스티벌"></li>
					<li class="slide"><img src="http://img.mipic-festival.co.kr/main/visual_04.jpg" alt="미드나잇피크닛 페스티벌"></li>
					<li class="slide"><img src="http://img.mipic-festival.co.kr/main/visual_05.jpg" alt="미드나잇피크닛 페스티벌"></li>
					<li class="slide"><img src="http://img.mipic-festival.co.kr/main/visual_06.jpg" alt="미드나잇피크닛 페스티벌"></li>
				</ul>
				<div class="row-btn ta-center">
					<a href="../reservation/index.html" class="btn-default btn-link">미픽2019 티켓 할인 예매</a>
				</div>
			</div>
		</section>
		<!--/.visual-->
		<section class="sec intro">
			<div class="row-black">
				<h1>
					<strong>미드나잇 피크닉 페스티벌 2019</strong><br>
					2019. 07. 12(Fri) ~ 07. 14(Sun)  3일간!<br>
					강원도 고성군 삼포해수욕장
				</h1>
				<img src="http://img.mipic-festival.co.kr/main/txt_mipic.png" alt="midnight picnic festival" class="mipic">
			</div>
			<div class="row-txt" id="setTop">
				<h2>국내 최대 규모의 뮤직 & 서핑 축제, 미픽 2019</h2>
				<p class="p-1">
					해변에서 즐기는 다양한 액티비티<br>
					바다 위에서 즐기는 비치 액티비치<br>
					밤에는 달빛 아래서 즐기는 뮤직 페스티벌
				</p>
			</div>
			<div class="group mv-box">
				<iframe id="player" src="https://www.youtube.com/embed/H5jdD7fC7Z4?rel=0&enablejsapi=1" frameborder="0" allowfullscreen></iframe>
				<script type="text/javascript">
					var tag = document.createElement('script');
					tag.src = "https://www.youtube.com/iframe_api";
					var firstScriptTag = document.getElementsByTagName('script')[0];
					firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

					var player;
					function onYouTubeIframeAPIReady() {
						player = new YT.Player('player', {
							events: {
								'onReady': onPlayerReady
							}
						});
					}
					function onPlayerReady(event) {
						event.target.setVolume(20);
						event.target.playVideo();// 플레이어 자동실행 
					}
				</script>
			</div>
			<div class="row-txt">
				<p class="p-2">
					낮엔 파도에 WAVE, 밤엔 음악에 GROOVE<br>
					서핑과 음악을 통한 한여름 일상탈출!
				</p>
			</div>
			<div class="photo-box">
				<ul class="group list">
					<!-- (li>img[src="http://img.mipic-festival.co.kr/main/img_0$.jpg" alt="MiPic사진"])*6 -->
					<li><img src="http://img.mipic-festival.co.kr/main/img_01.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/main/img_02.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/main/img_03.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/main/img_04.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/main/img_05.jpg" alt="MiPic사진"></li>
					<li><img src="http://img.mipic-festival.co.kr/main/img_06.jpg" alt="MiPic사진"></li>
				</ul>
				<div class="row-btn ta-center">
					<a href="../reservation/index.html" class="btn-default btn-link">미픽2019 티켓 할인 예매</a>
				</div>
			</div>
		</section>
		<!-- /.intro -->
	</div>

	@@include('../include/_footer.html') 
</div>

</body>
</html>