@charset "utf-8";

@import "../parts/common";

/* 비주얼 영역 */
.sec.visual {
    .slider-container {
        position: relative;
        .slide {
            height: 319px;
            background: url('http://design.autopay.co.kr/joon/midnight/img/location/visual_01.jpg') no-repeat center;
        }
    }
}
/* 공통 스타일 영역 */
.sec.common-01 {
    .row-txt {
        padding: 35px 0;
        h2 {
            text-align: center;
            line-height: 1.8;
            font-size: 34px;
            font-weight: 700;
            letter-spacing: -1.5px;
        }
        > p {
            text-align: center;
        }
        .p-1 {
            font-size: 24px;
        }
        .p-2 {
            font-size: 26px;
        }
        
    }
}
/* 오시는 길 영역 */
.sec.location {
    .map-box {
        padding-bottom: 75px;
        overflow: hidden;
        .map-desc {
            dl {
                margin-top: 20px;
                font-size: 0;
                line-height: 1.4;
                > * {
                    display: inline-block;
                    vertical-align: top;
                }
                dt {
                    width: 160px;
                    font-size: 20px;
                }
                dd {
                    display: 800px;
                    font-size: 18px;
                    .map-park {
                        margin-top: 20px;
                    }
                }
            }
        }
    }

}
/* FAQ 영역 */
.sec.faq {
    .faq-box {
        padding-bottom: 80px;
        dl {
            margin-top: 20px;
            line-height: 1.4;
            font-size: 0;
            dt, dd {
                > span {
                    @include dp;
                    vertical-align: top;
                }
                .q, .a {
                    @include sizes(33px);
                    margin-right: 10px;
                    top: -5px;
                    border-radius: 50%;
                    line-height: 34px;
                    text-align: center;
                    font-size: 20px;
                    color: #fff;
                }
                .q {
                    background: #000;
                }
                .a {
                    background: #a0a0a0;
                }
                .txt {
                    width: 910px;
                }
            }
            dt {
                font-size: 20px;
            }
            dd {
                margin-top: 5px;
                line-height: 1.5;
                font-size: 16px;
            }
        }
    }
}